.customersPage {
  display: flex;
  flex-direction: column;
}

.toolbarRight {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
